<form name="createLoan" action="createLoan" method="post">                                     
                                            
    <div class="tab-content">
         <div class="tab-pane active" id="crt-tab-0" role="tabpanel">
             <%
                 ClientInfo clientInfo = (ClientInfo)request.getAttribute("clientInfo");
             %>
             <input type="hidden" name="clientId" value="<%out.print(clientInfo.getClientId());%>">
           <div class="form-row" >
               <div class="col-md-6 d-inline">
                 <div class="input-group mb-3">
                   <label for="productGroup" class="mr-3 form-align">Product*</label>
                   <select class="form-control form-control-sm" name="loanProduct" onclick="sendLoanProduct()" required>
                     <%
                         MosuniQueriesAdHoc loanProductQuery = new MosuniQueriesAdHoc();
                         List<ProductLoan> loanProductList = new ArrayList<>();
                         loanProductList = loanProductQuery.getAllProductLoan();
                         if(loanProductList != null){
                             for(ProductLoan loanProduct : loanProductList){
                     %>  
                         <option value="<% out.print(loanProduct.getProductId());%>"><% out.print(loanProduct.getName());%></option>
                    <%
                             }
                         }
                    %>
                   </select>
                 </div>

                 <div class="input-group mb-3">
                 <label for="loanName" class="mr-3 form-align ">Name *</label>
                 <input type="text" class="form-control form-control-sm"  name="" value="<% out.print(clientInfo.getDisplayName());%>" placeholder="<% out.print(clientInfo.getDisplayName());%>" readonly>
                 </div>
                 <span class="invalid-feedback">Name cannot be blank!</span>                                                

                 <div class="input-group mb-3">
                   <label for="loanAmount" class="mr-3 form-align">Loan Amount*</label>
                   <input type="text" class="form-control form-control-sm"  name="loanAmount" placeholder="Loan Amount">
                 
                 </div>
                 <div class="input-group mb-3">
                     <label for="loanTenor" class="form-align mr-3">Loan Tenor</label>
                     <input type="number" class="form-control form-control-sm" name="loanTenor" placeholder="Tenor" required>
                     <select class="form-control form-control-sm" name="loanTenorSel">
                         <option value="1">Days</option>
                         <option value="2">Weeks</option>
                         <option value="3">Months</option>
                       </select>
                 </div>
                 <div class="input-group mb-3">
                     <label for="repaymentFreq" class="form-align mr-3">Repayment Frequency</label>
                     <input type="number" class="form-control form-control-sm" name="repaymentFreq" placeholder="Period" required>
                     <select class="form-control form-control-sm" name="repaymentFreqSel">
                         <option value="1">Days</option>
                         <option value="2">Weeks</option>
                         <option value="3">Months</option>
                       </select>
                 </div>
                 <div class="input-group mb-3">
                     <label for="interestRate" class="form-align mr-3">Interest Rate</label>
                     <input type="number" class="form-control form-control-sm" name="interestRate" required>
                     <span class="form-control-sm">% Per Month</span>
                 </div>
                 <div class="input-group mb-3">
                     <label for="disburseDate" class="form-align mr-3">Disbursement Date</label>
                     <input type="date" class="form-control form-control-sm" name="disburseDate" required>
                 </div>
                 <div class="input-group mb-3">
                     <label for="gracePrincipal" class="form-align mr-3">Grace On Principal Payment</label>
                     <input type="number" class="form-control form-control-sm" name="gracePrincipal" required>
                 </div>
                 <div class="input-group mb-3">
                     <label for="graceInterest" class="form-align mr-3">Grace On Interest Payment</label>
                     <input type="number" class="form-control form-control-sm" name="graceInterest" required>
                 </div>
                 <div class="input-group mb-3">
                     <label for="loanOfficer" class="mr-3 form-align">Loan Officer</label>
                     <select class="form-control form-control-sm" name="loanOfficer" required>
                         <%
                             List<MosuniOfficerInfo> mosuniOfficerInfoList;
                             MosuniQueriesAdHoc officerListQuery;

                             mosuniOfficerInfoList = new ArrayList<>();
                             officerListQuery = new MosuniQueriesAdHoc();
                             mosuniOfficerInfoList = officerListQuery.getOfficersList(String.valueOf(staffInfo.getOfficeId()));
                            for(MosuniOfficerInfo individualOfficer : mosuniOfficerInfoList){
                         %>
                         <option value="<%out.print(individualOfficer.getStaffId());%>"><%out.print(individualOfficer.getDisplayName());%></option>
                         <%
                             }
                         %>
                     </select>
                   </div>                                                 

               </div>
                 <div class="col-md-6 d-inline">
                     <div class="input-group mb-3">
                     <label for="loanPurpose" class="mr-3 form-align">Loan Purpose</label>
                     <select class="form-control form-control-sm" name="loanPurpose" required>
                         <option value="0" selected disabled>Select Loan Purpose</option>
                     <%
                         List<CodeValueInfo> dropDownLoanPurposeList = new ArrayList<>();
                         MosuniQueriesAdHoc dropDownLoanPurposeQuery = new MosuniQueriesAdHoc();
                         dropDownLoanPurposeList = dropDownLoanPurposeQuery.getDropDownList(3);
                         
                         for(CodeValueInfo indvItem : dropDownLoanPurposeList){
                     %>
                         <option value="<%out.print(indvItem.getId());%>"><%out.print(indvItem.getCodeValue());%></option>
                     <%
                         }
                     %>
                     </select>
                   </div>
                   <div class="input-group mb-3">
                       <label for="fundOrigin" class="mr-3 form-align">Apply Standing Instruction</label>
                       <select class="form-control form-control-sm" name="applyStandingInst" required>
                         <option value="1">On</option>
                         <option value="2">Off</option>
                       </select>
                     </div>
                 <div class="input-group mb-3">
                   <label for="linkedSavingsAcct" class="form-align mr-3">Linked Savings Account </label>
                   <select class="form-control form-control-sm" name="linkedSavingsAcct" required>
                         <%
                             MosuniQueriesAdHoc savingsAcctQueries, savingsProdQueries, balQueries;
                             String productName, outstandingBal;
                             DoDigitGroup dgBal;
                             String savingsStatus = "";

                             savingsAcctQueries = new MosuniQueriesAdHoc();
                             savingsProdQueries = new MosuniQueriesAdHoc();
                             balQueries = new MosuniQueriesAdHoc();

                             List<SavingsAccountInfoView> savingAccountInfoList = new ArrayList<>();
                             savingAccountInfoList = savingsAcctQueries.getSavingsAccounts(clientInfo.getClientId());
                             if(savingAccountInfoList != null){
                                 
                             MosuniQueriesAdHoc rEnumQuery = new MosuniQueriesAdHoc();
                             REnumValue enumValue;                                                        
                             for(SavingsAccountInfoView individualSavingsAcc : savingAccountInfoList){
                                 productName = savingsProdQueries.getSavingsProductName(individualSavingsAcc.getProductId());
                                 outstandingBal = balQueries.getOutstandingBal(individualSavingsAcc.getAccountId().substring(3));
                                 dgBal = new DoDigitGroup(individualSavingsAcc.getAccountBalDerived());
                                 enumValue = rEnumQuery.getEnumType("status_enum", individualSavingsAcc.getStatusEnum());
                                 savingsStatus = enumValue.getEnumValue();
                                 if(individualSavingsAcc.getStatusEnum() == 300){
                         %>
                             <option value="<% out.println(individualSavingsAcc.getAccountId());%>"><% out.println(individualSavingsAcc.getAccountId());%> ::: <% out.println(productName);%></option>
                         <%
                             }else{
                         %>
                             <option value="0">No Active Account(s)</option>
                         <%
                                     }
                                 }
                             }
                         %>
                   </select>
                 </div>
                   <div class="input-group mb-3">
                     <label for="disburseDate" class="form-align mr-3">Repayments Starting From</label>
                     <input type="date" class="form-control form-control-sm" name="repayStartDate" required>
                 </div>
                 
                 <div class="input-group mb-3">
                     <label for="fundOrigin" class="mr-3 form-align">Loan Sector</label>
                     <select class="form-control form-control-sm" name="loanPurpose" required>
                             <option value="0" selected disabled>Select Loan Sector</option>
                         <%
                             List<CodeValueInfo> dropDownLoanSectorList = new ArrayList<>();
                             MosuniQueriesAdHoc dropDownLoanSectorQuery = new MosuniQueriesAdHoc();
                             dropDownLoanSectorList = dropDownLoanSectorQuery.getDropDownList(26);

                             for(CodeValueInfo indvItem : dropDownLoanSectorList){
                         %>
                             <option value="<%out.print(indvItem.getId());%>"><%out.print(indvItem.getCodeValue());%></option>
                         <%
                             }
                         %>
                     </select>
                   </div>
                 </div>
             </div>
         </div>
         <div class="tab-pane" id="crt-tab-1">
             <div id="chargeProductDiv">
                 <table class="table table-bordered">
                 <thead>
                   <tr>
                     <th>Name</th>
                     <th>Charge</th>
                     <th>Collected On</th>
                     <th></th>
                   </tr>
                 </thead>
                 <tbody>  
                     
                 </tbody>

               </table>
             </div>
           <div class="mb-3 input-group col-md-6">
             <label for="charge" class="form-align mr-3">Charges</label>
             <select class="form-control form-control-sm mr-3" name="charge">
                 <%
//                                                    MosuniQueriesAdHoc rEnumCalQuery = new MosuniQueriesAdHoc();
//                                                    List<REnumValue> enumCalValueList = new ArrayList<>();
//                                                    enumCalValueList = rEnumCalQuery.getEnumTypeMsgProp
//                                                    
                     MosuniQueriesAdHoc chargeInfoQuery = new MosuniQueriesAdHoc();
                     List<ChargeInfo> chargeInfoList = new ArrayList<>();
                     chargeInfoList = chargeInfoQuery.getAllChargeInfo(1);
                     if(chargeInfoList != null){
                         for(ChargeInfo chargeInfo : chargeInfoList){
                 %>  
                     <option value="<% out.print(chargeInfo.getId());%>"><% out.print(chargeInfo.getName());%></option>
                <%
                         }
                     }
                %>
             </select>
             <button type="button" class="btn btn-primary" name="button" onclick="displayCharge()"> <i class="fa fa-plus"></i> Add To Product </button>
           </div>
         </div>

         <div class="tab-pane" id="crt-tab-2">
           <table class="table table-striped">
             <thead>
               <tr>
                 <th>Name</th>
                 <th>Severity Level</th>
                 <th>Order</th>
                 <th></th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td>Business Loan Processing Fee</td>
                 <td>1% Original Loan Principal</td>
                 <td>Disbursement</td>
                 <td> <a href="#"><i class="fa fa-times"></i></a> </td>
               </tr>
             </tbody>

           </table>

           <div class="mb-3 input-group col-md-6">
             <label for="charge" class="form-align mr-3">Credit Checks</label>
             <select class="form-control form-control-sm mr-3" name="">
               <option value="">Processing loan</option>
             </select>
             <button type="button" class="btn btn-primary" name="button"> <i class="fa fa-plus"></i> Add To Product </button>
           </div>
           <button class="btn btn-primary mr-3" name="" >Next <i class="fa fa-arrow-right"></i></button>
         </div>

         <div class="tab-pane" id="crt-tab-3">
             
             
             <div class="mb-3 col-md-6">

                 <h5 class="card-title">Accounting Rules</h5>
                     <div class="position-relative form-group mb-3">
                         <div>
                             <div class="custom-radio custom-control">
                                 <input type="radio" id="cashBased" name="acc" class="custom-control-input">
                                 <label class="custom-control-label" for="cashBased">Cash Based</label>
                             </div>
                             <div class="custom-radio custom-control">
                                 <input type="radio" id="accuralP" name="acc" class="custom-control-input">
                                 <label class="custom-control-label" for="accuralP">Accural (Periodic)</label>
                             </div>
                             <div class="custom-radio custom-control">
                                 <input type="radio" id="accuralU" name="acc" class="custom-control-input">
                                 <label class="custom-control-label" for="accuralU">Accural (Upfront)</label>
                             </div>
                         </div>
                     </div>
                     
                     <h5 class="card-title">Assets</h5>
                     <div class="position-relative input-group mb-3">
                         
                             <div class="input-group mb-3">
                                 <label for="charge" class="form-align mr-3">Fund Source</label>
                                 <select class="form-control form-control-sm" name="">
                                   <option value="">--</option>
                                 </select>
                                 
                               </div>
                               <div class="mb-3 input-group">
                                 <label for="charge" class="form-align mr-3">Loan Portfolio</label>
                                 <select class="form-control form-control-sm" name="">
                                   <option value="">--</option>
                                 </select>
                                 
                               </div>
                         
                     </div>
                     
                     <h5 class="card-title">Liabilities</h5>
                     <div class="position-relative input-group mb-3">
                         
                             <div class="input-group mb-3">
                                 <label for="charge" class="form-align mr-3">Over Payment</label>
                                 <select class="form-control form-control-sm" name="">
                                   <option value="">--</option>
                                 </select>
                                 
                               </div>
                         
                     </div>

                     <h5 class="card-title">Income</h5>
                     <div class="position-relative input-group mb-3">
                         
                             <div class="input-group mb-3">
                                 <label for="charge" class="form-align mr-3">Income for Interest</label>
                                 <select class="form-control form-control-sm" name="">
                                   <option value="">--</option>
                                 </select>
                                 
                             </div>
                             <div class="input-group mb-3">
                                 <label for="charge" class="form-align mr-3">Income from Fees</label>
                                 <select class="form-control form-control-sm" name="">
                                   <option value="">--</option>
                                 </select>
                                 
                             </div>
                             <div class="input-group mb-3">
                                 <label for="charge" class="form-align mr-3">Income from Penalties</label>
                                 <select class="form-control form-control-sm" name="">
                                   <option value="">--</option>
                                 </select>
                                 
                             </div>
                             <div class="input-group mb-3">
                                 <label for="charge" class="form-align mr-3">Income from Recovery</label>
                                 <select class="form-control form-control-sm" name="">
                                   <option value="">--</option>
                                 </select>
                                 
                             </div>
                             <div class="input-group mb-3">
                                 <label for="charge" class="form-align mr-3">Income from Recovery</label>
                                 <select class="form-control form-control-sm" name="">
                                   <option value="">--</option>
                                 </select>
                                 
                             </div>
                     </div>

                     <h5 class="card-title">Expenses</h5>
                     <div class="position-relative input-group mb-3">
                         
                             <div class="input-group mb-3">
                                 <label for="charge" class="form-align mr-3">Losses Written Off</label>
                                 <select class="form-control form-control-sm" name="">
                                   <option value="">--</option>
                                 </select>
                                 
                               </div>
                         
                     </div>

                     <h5 class="card-title">Advanced Accounting Rules</h5>
                     <div class="position-relative input-group mb-3">
                         
                             <div class="input-group mb-3">
                                 <label for="charge" class="mr-3"> Add Configure Fund sources for payment channels</label>
                                 <button class="btn btn-primary-sm btn-primary mb-3" name="" type="button" ><i class="fa fa-plus"></i> Add</button>
                               
                               <table class="table table-striped table-bordered">
                                   <thead>
                                       <tr>
                                           <th>Payment Type</th>
                                           <th>Fund Source</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td>Cash</td>
                                           <td>--</td>
                                       </tr>
                                   </tbody>
                               </table>
                             </div>

                             <div class="input-group mb-3">
                                 <label for="charge" class=" mr-3"> Add Map Fees to Specific Income accounts</label>
                                 <button class="btn btn-primary-sm btn-primary mb-3" name="" type="button" ><i class="fa fa-plus"></i> Add</button>
                               
                               <table class="table table-striped table-bordered">
                                   <thead>
                                       <tr>
                                           <th>Fee</th>
                                           <th>Income Account</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td>Cash</td>
                                           <td>--</td>
                                       </tr>
                                   </tbody>
                               </table>
                             </div>
                             <div class="input-group mb-3">
                                 <label for="charge" class="mr-3"> Add Map Penalties to Specific income accounts</label>
                                 <button class="btn btn-primary-sm btn-primary mb-3" name="" type="button" ><i class="fa fa-plus"></i> Add</button>
                               
                               <table class="table table-striped table-bordered">
                                   <thead>
                                       <tr>
                                           <th>Penalty</th>
                                           <th>Income Account</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td>Cash</td>
                                           <td>--</td>
                                       </tr>
                                   </tbody>
                               </table>
                             </div>                                                            
                         
                     </div>
                     
             </div>
         
         </div>
         
   </div>
 </form>